<a href="https://colab.research.google.com/github/HalaAl-Omary/python_Basics/blob/main/Copy_of_Paython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def get_choices():
  player_choice = "rock"
  computer_choice = "paper"

  return player_choice

def greeting():
  return "hi"

response = greeting()
print(response)

hi

In [ ]:
def get_choices():
  player_choice = "rock"
  computer_choice = "paper"

  return computer_choice


choices = get_choices()
print(choices)

paper

In [ ]:
def get_choices():
  player_choice = input("Enter a choice (rock,paper,scissors: )")
  computer_choice = "paper"
  choices = {"player":player_choice, "comuter":computer_choice}
  return choices


choices = get_choices()
print(choices)

Enter a choice (rock,paper,scissors: )paper
{'player': 'paper', 'comuter': 'paper'}

In [ ]:
import random

def get_choices():
  player_choice = input("Enter a choice (rock,paper,scissors: )")
  options = ["rock" ,"paper" ,"scissors"]
  computer_choice = random.choice(options)
  choices = {"player":player_choice, "comuter":computer_choice}
  return choices


choices = get_choices()
print(choices)

# food=["pizza" , "carrots" , "eggs"]
# dinner = random.choice(food)
# print(dinner)

Enter a choice (rock,paper,scissors: )paper
{'player': 'paper', 'comuter': 'paper'}

In [ ]:
import random

def check_win(player, computer):
  print(f"you chose {player}, computer chose {computer}")
  if player == computer :
    return "its a tie"
  elif player == "rock" and computer == "scissors":
    return "rock smashes scissors"
  elif player == "rock" and computer == "paper":
    return "paper cover rock"
  else:
    return "win"
check_win("rock","paper")

you chose rock, computer chose paper

'paper cover rock'

In [ ]:
age = 20
if age >= 18:
  print("you are adult")
elif age > 12:
  print("teenager")
elif age > 1:
  print("child")
else:
  print("baby")

you are adult

In [ ]:
from ast import Return
import random

def get_choices():
  player_choice = input("Enter a choice (rock,paper,scissors: )")
  options = ["rock" ,"paper" ,"scissors"]
  computer_choice = random.choice(options)
  choices = {"player": player_choice, "computer": computer_choice}
  return choices

def check_win(player, computer):
  print(f"you chose {player}, computer chose {computer}")
  if player == computer :
    return "its a tie"
  elif player =="rock":
    if computer == "scissors":
      return "rock smashes scissors"
    else:
      return "paper covers rock"
  elif player =="paper":
    if computer == "rock":
      return "paper cover rock "
    else:
      return "scissors cut paper"
  elif player =="scissors":
    if computer == "paper":
      return "scissors cut paper "
    else:
      return "rock smashes scissors "
choices = get_choices()
result =check_win(choices["player"], choices["computer"])
print(result)

Enter a choice (rock,paper,scissors: )paper
you chose paper, computer chose scissors
scissors cut paper

In [ ]:
name = "hala"
print(type(name) == str)
print(isinstance(name,str))
age = float(2)
print(isinstance(age,int))
print(isinstance(age,float))
number = "40"
num = int(number)
print(isinstance(num,int))

# complex for complex numbers
# bool for boolean
# list for lists
# tuple for tuples
# range for ranges
# dict for dictionaries
# set for sets

True
True
False
True
True

In [ ]:
1+ -1 #0
2 - 1 #1
2 * 2 #4
4 / 2 #2
4 % 3 #1
4 ** 2 #16
5 // 2 #2

print("hala " +"student")
print(5 + 4 * 2)
age = 8
age+=2
print(age)

hala student
13
10

In [ ]:
a = 1
b = 2
a == b #false
a != b #true
a > b  #false
a <= b #true

con1 = True
con2 = False
not con1 #false
con1 and con2 #false
con1 or con2 #true

In [ ]:
print(0 or 1)
print(False or 'hey')
print('hi' or 'hey')
print([] or False)
print(False or [])

print(0 and 1)
print(1 and 0)
print(False and 'hey')
print('hi' and 'hey')
print([] and False)
print(False and [])


# & performs binary And
# | performs binary Or
# ^ performs binary XOR
# ~ performs binary Not
# << shift left Operation
# >> shift right Operation


#is
#in

1
hey
hi
False
[]
0
0
False
hey
[]
False

In [ ]:
def is_adult(age):
  if age > 18:
    return True
  else:
    return False


def is_adult2(age):
  return True if age > 18 else False  #ternary operator

is_adult(20)
is_adult2(20)

True

In [ ]:
"Beau"
'Beau'
name = "Beau"
name += " is my name"
age = str(39)
print(name)
print(age)


print("""hello

40

hala
""")


print("hala".upper())

print("hAla".lower())
print("hala al omary".title())

Beau is my name
39
hello

40

hala

HALA
hala
Hala Al Omary

In [ ]:
# String methods in Python

# Check if the string contains only letters (and is not empty)
# isalpha()

# # Check if the string contains only letters or digits (and is not empty)
# isalnum()

# # Check if the string contains only digits (and is not empty)
# isdecimal()

# # Get a lowercase version of the string
# lower()

# # Check if the string is all lowercase
# islower()

# # Get an uppercase version of the string
# upper()

# # Check if the string is all uppercase
# isupper()

# # Get a capitalized version (first letter of each word uppercase)
# title()

# # Check if the string starts with a specific substring
# startswith()

# # Check if the string ends with a specific substring
# endswith()

# # Replace part of a string with another string
# replace()

# # Split a string on a specific character separator
# split()

# # Trim (remove) whitespace or specific characters from the string
# strip()

# # Append (join) elements of a list into a string with a separator
# join()

# # Find the position (index) of a substring in a string
# find()

['apple', 'banana', 'orange']

In [ ]:
name = "halapp"
print(name.lower())
print(len(name))
print("ha" in name)
sco="uni\"aa"
sco1="nn'\"ll"
sco2="kk\noo"
sco3="kk\\noo"
print(sco)
print(sco1)
print(sco2)
print(sco3)

halapp
6
True
uni"aa
nn'"ll
kk
oo
kk\noo

In [ ]:
name = "hala is ddd"
print(name[2:4])
print(name[2:])
print(name[:6])
print(name[1:2])

la
la is ddd
hala i
a

In [ ]:
ingredients_purchased = False
meal_cooked = True
ready_to_serv = any([ingredients_purchased, meal_cooked])
ready_to_serve = all([ingredients_purchased, meal_cooked])
print(ready_to_serv)
print(ready_to_serve)

True
False

In [ ]:
num1 = 2+3j
num2 = complex(2,3)
print(num2.real, num2.imag)

2.0 3.0

In [ ]:
x = -5
print(abs(x))   # الناتج: 5

z = 3 + 4j
print(abs(z))   # الناتج: 5.0   → √(3² + 4²)

5
5.0

In [ ]:
x = 3.14159
print(round(x))      # الناتج: 3   → أقرب عدد صحيح
print(round(x, 2))   # الناتج: 3.14  → تقريبه لرقمين عشريين

3
3.14

In [ ]:
from enum import Enum

class State(Enum):
 INACTIVE = 0
 ACTIVE = 1

print(State.ACTIVE.name)
print(State.ACTIVE.value)
print(State(1))
print(State(1).name)
print(State['ACTIVE'])
print(State['ACTIVE'].value)
print(list(State))
print(len(State))

ACTIVE
1
State.ACTIVE
ACTIVE
State.ACTIVE
1
[<State.INACTIVE: 0>, <State.ACTIVE: 1>]
2

In [ ]:
age = input("what is your age ?")
print("Your age is " + age)

what is your age ?50
Your age is 50

In [ ]:
condition = False
if condition == True:
 print("The condition")
 print("was True")
else:
 print("The condition")
 print("was False")

The condition
was False

In [ ]:
#List
dogs = ["hala" , 1 , "omary" , True , "kk" ,5]
print("hala" in dogs)
print(dogs[2])
print(dogs)
dogs[1]="moh"
print(dogs)
print(dogs[-2])
print(dogs[1:4])
print(dogs[1:])
print(dogs[:4])
print(len(dogs))

dogs.append("aya")
print(dogs)
dogs.extend(["hala",5])
print(dogs)
dogs+=["judah",5]
print(dogs)
dogs+= "jud"
print(dogs)
dogs.remove("moh")
print(dogs)
print(dogs.pop())
print(dogs)

True
omary
['hala', 1, 'omary', True, 'kk', 5]
['hala', 'moh', 'omary', True, 'kk', 5]
kk
['moh', 'omary', True]
['moh', 'omary', True, 'kk', 5]
['hala', 'moh', 'omary', True]
6
['hala', 'moh', 'omary', True, 'kk', 5, 'aya']
['hala', 'moh', 'omary', True, 'kk', 5, 'aya', 'hala', 5]
['hala', 'moh', 'omary', True, 'kk', 5, 'aya', 'hala', 5, 'judah', 5]
['hala', 'moh', 'omary', True, 'kk', 5, 'aya', 'hala', 5, 'judah', 5, 'j', 'u', 'd']
['hala', 'omary', True, 'kk', 5, 'aya', 'hala', 5, 'judah', 5, 'j', 'u', 'd']
d
['hala', 'omary', True, 'kk', 5, 'aya', 'hala', 5, 'judah', 5, 'j', 'u']

In [ ]:
items = ["Roger", 1, "Syd",True, "Quincy", 7]
items.insert(2, "Test")
print(items)
items2 = ["Roger", 1, "Syd",True, "Quincy", 7]
items2[1:1] = ["t1" ,"t2"]
print(items2)

['Roger', 1, 'Test', 'Syd', True, 'Quincy', 7]
['Roger', 't1', 't2', 1, 'Syd', True, 'Quincy', 7]

In [ ]:
items =[3 ,4 , 2 , 7 ,1 ,9 ,4]
items2 = ["h" , "g" ,"s","a"]
items.sort()
items2.sort()
print(items)
print(items2)

[1, 2, 3, 4, 4, 7, 9]
['a', 'g', 'h', 's']

In [ ]:
items = ["Roger", "bob", "Beau", "Quincy"]
itcopy = items[:]
items.sort(key=str.lower)
print(items)
print(itcopy)

['Beau', 'bob', 'Quincy', 'Roger']
['Roger', 'bob', 'Beau', 'Quincy']

In [ ]:
items = ["Roger", "bob","Beau", "Quincy"]
print(sorted(items,
key=str.lower))
print(items)

['Beau', 'bob', 'Quincy', 'Roger']
['Roger', 'bob', 'Beau', 'Quincy']

In [ ]:
#Tubles
names = ("Roger", "Syd","Beau")
print(names[-1])
print(names.index("Roger"))
print(len(names))
print("Roger" in names)
print(sorted(names))
newtuples = names + ("tina" , "guincy")
print(newtuples)

Beau
0
3
True
['Beau', 'Roger', 'Syd']
('Roger', 'Syd', 'Beau', 'tina', 'guincy')

In [ ]:
#Dictionaries
dog = {"name" : "roger" , "age" : 8 ,"kk" : "l"}
print(dog["name"])
dog["name"] = "a"
print(dog["name"])
print(dog.get("color" ))
print(dog.get("color" ,"brwon"))
print(dog.popitem())
print(dog)
print(dog.keys())
print(list(dog.keys()))
print(dog.values())
print(list(dog.values()))
print(dog.items())
print(list(dog.items()))
print(len(dog))

dog["fav food"]="meat"
print(dog)
del dog['name']
print(dog)
dogcopy = dog.copy()
print(dogcopy)

roger
a
None
brwon
('kk', 'l')
{'name': 'a', 'age': 8}
dict_keys(['name', 'age'])
['name', 'age']
dict_values(['a', 8])
['a', 8]
dict_items([('name', 'a'), ('age', 8)])
[('name', 'a'), ('age', 8)]
2
{'name': 'a', 'age': 8, 'fav food': 'meat'}
{'age': 8, 'fav food': 'meat'}
{'age': 8, 'fav food': 'meat'}

In [ ]:
#Sets
set1 ={"roger" , "syd" ,"roger"}
set2={"roger"}
set3={"lyn"}
mod = set1 | set3 #union
intersect = set1 & set2  #Intersection
defr = set1 - set2 #Difference
f = set1 < set2 #Subset
d = set1 > set2 #Superset
print(mod)
print(intersect)
print(defr)
print(f)
print(d)
print(list(set1)) #ما بكرر

{'roger', 'syd', 'lyn'}
{'roger'}
{'syd'}
False
True
['roger', 'syd']

In [ ]:
#functions
def hello(name="hala",age=30):
 print("hello " + name +" age "+str(age) +" years old")
hello("hh",80)
hello()


def change(value):
 value = 2

val = 1
change(val)

print(val)

print("------------------")

def changes(value):
 value["name"] ="syd"

vals = {"name":"beau"}
changes(vals)

print(vals)

hello hh age 80 years old
hello hala age 30 years old
1
------------------
{'name': 'syd'}

In [ ]:
def hello(name):
  if not name:
   return
  print('Hello ' + name + '!')

hello(False)
hello("hala")

Hello hala!

In [ ]:
def hello(name):
  print('Hello ' + name + '!')
  return name,"hala",9

print(hello("ameer"))

Hello ameer!
('ameer', 'hala', 9)

In [ ]:
#nested function
def talk(phrase):
 def say(word):
   print(word)

 words = phrase.split(' ')
 for word in words:
   say(word)

talk('I am going to buy the milk')

I
am
going
to
buy
the
milk

In [ ]:
def count():
   count = 0

   def increment():
    nonlocal count
    count = count + 1
    print(count)
   increment()

count()

1

In [ ]:
def counter():
    count = 0

    def increment():
      nonlocal count
      count= count + 1
      return count
    return increment
increment = counter()

print(increment())
print(increment())
print(increment())

1
2
3

In [ ]:
#objects

age=8

print(age.real)
print(age.imag)
print(age.bit_length())

8
0
4

In [ ]:
items =[1 , 2]
items.append(3)
items.pop()
print(items)
print(id(items))

[1, 2]
135377430358976

In [ ]:
from os import truncate
#loop
con= True
while con==True:
  print("the con is true")
  con=False

the con is true

In [ ]:
count=0
while count < 10 :
  print("the con is true")
  count+=1

print("after the loop")

the con is true
the con is true
the con is true
the con is true
the con is true
the con is true
the con is true
the con is true
the con is true
the con is true
after the loop

In [ ]:
items = [1,2,3,4]
for item in items:
  print(item)

1
2
3
4

In [ ]:
items = [1,2,3,4]
for index,item in enumerate(items):
  print(index,item)

0 1
1 2
2 3
3 4

In [ ]:
for item in range(10):
  print(item)

0
1
2
3
4
5
6
7
8
9

In [ ]:
items =[1,2,3,4]
for item in items:
  if item == 2:
     continue
  print(item)

for item in items:
  if item == 2:
     break
  print(item)

1
3
4
1

In [ ]:
#classes
class Dog:
  def bark(self):
    print("woof")
roger = Dog()

print(type(roger))

<class '__main__.Dog'>

In [ ]:
class Animal:
  def walk(self):
    print("is walking")

class Dog(Animal):  #dog inherint from animal
  def __init__(self, name, age):
    self.name= name
    self.age= age

  def bark(self):
    print("woof")

roger = Dog("roger", 8)

print(roger.name)
print(roger.age)

roger.bark()
roger.walk()

roger
8
woof
is walking

#Modules
math: For mathematical operations and utilities.

re: For working with regular expressions, which are used for pattern matching in strings.

json: To handle JSON (JavaScript Object Notation) data, a common format for data exchange.

datetime: For manipulating dates and times.

sqlite3: To interact with SQLite databases, a lightweight, file-based relational database.

os: Provides functions for interacting with the operating system, such as file system operations.

random: For generating random numbers and making random choices.

statistics: Offers functions for calculating basic statistical measures like mean, median, and variance.

requests: A popular library for making HTTP requests (e.g., fetching data from websites).

http: Used for creating HTTP servers.

urllib: A collection of modules for working with URLs, including opening and reading them.

In [ ]:
# import math
# print(math.sqrt(4))

from math import sqrt
print(sqrt(4))

2.0

In [ ]:
#Lambda Functions  #anonymous function

lambda num : num *2
multiply = lambda a, b : a * b
print(multiply(5,10))

50

In [ ]:
#map()

numbers = [1,2,3]

# def double(a):
#   return a*2
# double = lambda a : a * 2

result = map(lambda a : a * 2, numbers)
print(list(result))

[2, 4, 6]

In [ ]:
#filter()
numbers = [1,2,5,4,8,6]

# def isEven(n):
#   return n%2 == 0
result = filter(lambda n : n%2 == 0,numbers)
print(list(result))

[2, 4, 8, 6]

In [ ]:
#reduce()
from functools import reduce

expenses =[ ('dinner' , 80), ('car' , 120)]
sum = reduce(lambda a, b: a[1] + b[1] , expenses)
print(sum)

dinnercar

In [ ]:
#Recursion
#3!=3*2*1=6  #factorial

def factorial(n):
  if n == 1 : return 1
  return n * factorial(n-1)

print(factorial(3))
print(factorial(4))
print(factorial(6))

6
24
720

In [ ]:
#Decrators
def logtime(func):
  def wrapper():
    print("before")
    val = func()
    print("after")
    return val
  return wrapper

@logtime
def hello():
  print("hello")

hello()

before
hello
after

In [ ]:
#Docstrings
""" Dog module
this module does ... bla bla
following classes :

-Dog
...
"""
class Dog:
  """ A class rep a dog"""
  def __init__(self, name, age):
    """initialze a new dog"""
    self.name= name
    self.age= age

  def bark(self):
    """ let the dog bark """
    print("woof")
print(help(Dog))

# print(Dog.__doc__)
# print(Dog.__init__.__doc__)
# print(Dog.bark.__doc__)

Help on class Dog in module __main__:

class Dog(builtins.object)
 |  Dog(name, age)
 |
 |  A class rep a dog
 |
 |  Methods defined here:
 |
 |  __init__(self, name, age)
 |      initialze a new dog
 |
 |  bark(self)
 |      let the dog bark
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables
 |
 |  __weakref__
 |      list of weak references to the object

None

In [ ]:
#Annotation
def increment(n: int) -> int:
  return n + 1

count: int = 0

In [ ]:
#Exceptions
try:
  #some lines of code
except EOFError:
  #handler <ERROR1>
except <ERROR2> :
 #handler <ERROR2>
else:
  #no exceptions were raised, the code ran successfully
finally:
   #do something in any case

In [ ]:

try:
 result = 2/0
except ZeroDivisionError:
 print('Cannot divide by zero!')
finally:
  result = 1
print(result)

Cannot divide by zero!
1

In [ ]:
try:
    raise Exception('An error')
except Exception as error:
    print(error)

An error

In [ ]:
class DogNotFoundException(Exception):
  print('inside')
  pass

try:
   raise DogNotFoundException()
except DogNotFoundException:
  print('Dog not fount!')

inside
Dog not fount!

In [ ]:
#with
filename = '/Users/flavio/test.txt'

with open(filename, 'r') as file:
    content = file.read()
    print(content)

In [ ]:
#pip

SyntaxError: invalid syntax (ipython-input-2866279736.py, line 2)

In [ ]:
#list compressions
numbers = [1,2,3,4,5]
numbers_power = [n**2 for n in numbers]

print(numbers_power)

[1, 4, 9, 16, 25]

In [ ]:
numbers = [1,2,3,4,5]

numbers_power = []
for n in numbers:
  numbers_power.append(n**2)

print(numbers_power)

[1, 4, 9, 16, 25]

In [ ]:
#list compressions
numbers = [1,2,3,4,5]
numbers_power = list(map(lambda n : n**2 , numbers))
print(numbers_power)

[1, 4, 9, 16, 25]

In [ ]:
# Polymorphism
class Dog:
 def eat(self):
  print('Eating dog food')
class Cat:
 def eat(self):
  print('Eating cat food')

animal1 = Dog()
animal2 = Cat()
animal1.eat()
animal2.eat()

Eating dog food
Eating cat food

In [ ]:
#operator overloading
class Dog:
# the Dog class
 def __init__(self, name, age):
  self.name = name
  self.age = age
 def __gt__(self, other):
  return True if self.age > other.age else False
roger = Dog('Roger', 8)
syd = Dog('Syd', 9)

print(roger > syd)


# __add__() respond to the + operator

# __sub__() respond to the - operator

# __mul__() respond to the * operator

# __truediv__() respond to the / operator

# __floordiv__() respond to the // operator

# __mod__() respond to the % operator

# __pow__() respond to the ** operator

# __rshift__() respond to the >> operator

# __lshift__() respond to the << operator

# __and__() respond to the & operator

# __or__() respond to the | operator

# __xor__() respond to the ^ operator

False